#root {
  overflow: hidden;
  min-height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

.App main {
  flex-grow: 1;
}

.form-control:focus {
  border-color: #000000; /* Remove the blue border from input fields */
  box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.075), 0 0 2px rgba(0, 0, 0, 0.6);
}

.page-link:focus {
  box-shadow: none; /* Remove the blue border from pagination buttons */
}

.form-check-input:checked {
  border-color: black;
  background-color: black; /* Change the background color of check buttons to black */
}
.form-check-input:focus {
  outline: none;
  box-shadow: none; /* Remove any box-shadow */
  border-color: grey;
}

hr.solid {
  border-top: 1px solid grey;
  width: 100%;
}


.text-pointer-on-hover:hover {
  cursor: pointer;
  color: rgb(73, 73, 73);
}

#blackPlaceholder::placeholder {
  color: black; /* black color placeholder */
  opacity: 1;
}

.bg-custom-gray {
  background-color: rgb(220, 220, 220);
}

